anaconda-anon-usage 
appnope 
archspec 
asttokens 
boltons 
Brotli 
certifi 
cffi 
charset-normalizer 
comm 
conda 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
cryptography 
debugpy 
decorator 
distro 
executing 
frozendict 
idna 
ipykernel 
ipython 
jedi 
jsonpatch 
jsonpointer==2.1
jupyter_client 
jupyter_core 
libmambapy 
matplotlib-inline 
menuinst 
nest-asyncio 
numpy 
packaging 
parso 
pexpect 
platformdirs 
pluggy 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycosat 
pycparser 
Pygments 
PySocks 
python-dateutil 
pyzmq 
requests 
ruamel.yaml 
ruamel.yaml.clib 
setuptools==72.1.0
SimpleITK 
six 
stack-data 
tornado 
tqdm 
traitlets 
truststore 
urllib3 
wcwidth 
wheel==0.44.0
zstandard 
